/* Reset CSS */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea,
select {
    font: inherit;
    border: none;
    background: none;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.coast {
    background-color: bisque;
    height: 120px;
    padding:10px;
}

.score {
    display: inline-block;
    width: 200px;
    height: 42px;
}

.timer {
    display: inline-block;
    width: 200px;
    height: 42px;
}

.start {
    padding:6px 20px;
    color:white;
    background-color: #992244;
    display: inline-block;
    margin-left: 30px;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.14s;
}

.start:hover {
    background-color: #cc1144;
}


.sea {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    background-image: url(./img/background.png);
    background-position: center center;
    background-size: cover;
}

.hook {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    display: none;
    animation: none;
    width: 46px;
    height: 46px;
}

.line {
    width: 2px;
    height: 700px;
    top: -700px;
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
}

.player-hook .line {
    background: #444;
}

.ai-hook .line {
    background: #d9534f;
}

.hook img {
    display: block;
}


.fish {
    position:absolute
}

.fish img {
    width: 100%;
    display: block;
}


.carp {
    width: 100px;
    bottom: 120px;
}



.puffer {
    width: 80px;
    bottom: 150px;
}


.marlin {
    width: 80px;
    bottom: 150px;
}


@keyframes carpMove {
    0% {
        left: -100px;
    }

    50% {
        left: 100%;
    }

    100% {
        left: -100px;
    }
}

@keyframes carpFlip {
    0%, 49.9% {
        transform: scaleX(-1);
    }

    50%, 99.9% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(-1);
    }
}

/* @keyframes hookMove {
    0% {
        top: 0;
    }

    50% {
        top: calc(100% - 46px);
    }

    100% {
        top: 0;
    }
}
 */
